@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins&family=Roboto:wght@300;400&family=Rubik:wght@400;700&family=Space+Mono&family=Work+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --bg-color: #2b2b2b;
  --purple: #a259ff;
  --work: "Work Sans", sans-serif;
  --mono: "Space Mono", monospace;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
html {
  scroll-behavior: smooth;
  scrollbar-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

header {
  background: var(--bg-color);
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

header.blur {
  opacity: 0.9;
  z-index: 999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

header .logo h1 {
  font-family: "Space Mono", monospace;
  color: var(--text-color);
  font-size: 30px;
  z-index: 9999;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 9999;
  margin-left: 20px;
}

header .link-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
  font-family: var(--work);
}

header .link-nav > li > a {
  text-decoration: none;
  color: var(--text-color);
}
header .link-nav > li {
  list-style-type: none;
}
header .link-nav > li:last-child {
  list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  background: var(--purple);
}

header .fa-bars {
  font-size: 30px;
  margin-right: 15px;
  color: var(--text-color);
}

.fa-arrow-up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 40px;
  color: var(--text-color);
  z-index: 99999;
}

.nav-mobile {
  display: none;
}

/* RESPONSIVE NAVBAR */
@media only screen and (max-width: 925px) {
  header .link-nav {
    display: none;
  }

  .nav-mobile {
    display: flex;
    position: fixed;
    left: 50%;
    justify-content: center;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b2b;
    width: 100%;
    height: 100vh;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    gap: 20px;
  }

  .transform-nav {
    visibility: visible;
  }

  .nav-mobile > li:not(:last-child) {
    border-bottom: 2px solid var(--purple);
    width: 80%;
    padding: 20px;
  }

  .nav-mobile > li:last-child {
    list-style-type: none;
    padding: 15px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    background: var(--purple);
    margin-top: 30px;
  }
  .nav-mobile > * {
    color: var(--text-color);
    z-index: 9999;
    text-decoration: none;
    font-family: var(--work);
    list-style-type: none;
  }

  .nav-mobile li a {
    color: var(--text-color);
    z-index: 9999;
    text-decoration: none;
    list-style-type: none;
  }

  header .logo h1 {
    font-size: 20px;
  }
  header .logo {
    gap: 5px;
  }
}

@media screen and (min-width: 925px) {
  header .fa-bars {
    display: none;
  }
}
/* RESPONSIVE NAVBAR */

.container-hero {
  margin: auto;
  display: grid;
  max-width: 1050px;
  height: 100vh;
  place-items: center;
  padding-top: 100px;
  position: relative;
  grid-template-areas:
    "header image"
    "desc image"
    "started image";
  grid-template-columns: 1fr 1.5fr;
  z-index: -99;
}

.container-hero > * {
  font-family: var(--work);
  color: var(--text-color);
}

.container-hero .header-hero {
  /* padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px; */
  grid-area: header;
}

.container-hero .header-hero h1 {
  font-size: 67px;
}

.container-hero .desc-hero {
  /* padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; */
  grid-area: desc;
}

.container-hero .hero-img {
  position: relative;
  background-color: #3b3b3b;
  border-radius: 20px;
  grid-area: image;
}

.container-hero .hero-img img {
  width: 510px;
}

.container-hero .hero-img h1 {
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.container-hero .hero-img .desc-img img {
  width: 24px;
}

.container-hero .hero-img .desc-img {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 20px;
}

.container-hero .get-started {
  grid-area: started;
  margin-left: -100px;
}

.container-hero .get-started .total-sale h2 {
  font-family: var(--mono);
}

.container-hero .get-started h1 {
  background-color: var(--purple);
  padding: 20px;
  border-radius: 20px;
  width: 315px;
  text-align: center;
  margin-top: 30px;
}

.container-hero .get-started .total {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

/* RESPONSIVE HERO SECTION */

@media screen and (max-width: 1180px) {
  /* body {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  } */
  .container-hero {
    grid-template-areas:
      "header "
      "desc "
      "image "
      "started";
    grid-template-columns: 1fr;
  }
  .container-hero .header-hero h1 {
    font-size: 28px;
  }
  .container-hero .get-started {
    margin-left: -0px;
  }
}

@media screen and (min-width: 1201px) {
  .container-hero .hero-img {
    margin-right: -140px;
  }
}

@media screen and (max-width: 604px) {
  .container-hero .hero-img img {
    width: 310px;
  }
  .container-hero .get-started {
    margin-left: -0px;
  }

  .container-hero .header-hero h1 {
    padding-left: 50px;
    padding-right: 45px;
    margin-bottom: 10px;
  }
  .container-hero .desc-hero {
    padding-left: 50px;
    padding-right: 45px;
    margin-bottom: 10px;
  }
}

.container-col {
  max-width: 1046px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  padding-top: 150px;
}

.container-col > * {
  font-family: var(--work);
  color: var(--text-color);
}

.container-col .trending-header h2 {
  font-size: 38px;
  margin-bottom: 20px;
}

.container-col .list-trending::-webkit-scrollbar {
  display: none;
}

.container-col .list-trending {
  margin-top: 40px;
  display: flex;
  gap: 27px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 50px;
}

.container-col .list-trending .list-1 {
  position: relative;
  transform-style: preserve-3d;
}

.child-active {
  opacity: 0.5;
}

/* .container-col .list-trending .list-1:hover img {
  transform: scale(1.1) translate3d(0%, -20%, 20px);
} */

.container-col .list-trending .list-1 .child-img {
  display: flex;
  gap: 14px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.container-col .list-trending .list-1 .child-img div {
  width: 100px;
  height: 100px;
  background-color: var(--purple);
  border-radius: 25px;
  font-family: var(--mono);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-col .list-trending .list-1 .animals {
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
}

/* .container-col .list-trending .list-1:hover .animals .user {
  transform: scale(1.1) translate(3%, -20%)
} */

.container-col .list-trending .list-1 .animals .user {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
}

.container-col .list-trending .list-1 .animals .user img {
  max-width: 24px;
  max-height: 24px;
}

@media screen and (max-width: 1081px) {
  .container-col .list-trending {
    flex-wrap: wrap;
    justify-content: center;
    -ms-overflow-style: none;
  }

  .container-col .list-trending::-webkit-scrollbar {
    display: none;
  }

  .container-col {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .container-col .trending-header h2 {
    font-size: 28px;
    text-align: center;
  }
  .container-col .trending-header p {
    font-size: 16px;
    text-align: center;
  }
  .container-col .list-trending .list-1 {
    margin-bottom: 30px;
  }
  .container-col {
    padding-top: 200px;
  }
}

.top-creator {
  max-width: 1050px;
  margin: auto;
  overflow: hidden;
  padding-top: 70px;
}

.top-creator > * {
  color: var(--text-color);
  font-family: var(--work);
}

.top-creator .creator-header .left h1 {
  font-size: 38px;
}

.top-creator .creator-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-creator .creator-header .right button {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  color: var(--text-color);
  border: 2px solid var(--purple);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.top-creator .creator-header .right button:hover {
  background-color: var(--purple);
}

.top-creator .list-top-creator .box-creator1 {
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  justify-content: center;
}
.top-creator .list-top-creator {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.top-creator .list-top-creator .box-creator1 .top-creator1 {
  width: 240px;
  height: 238px;
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  gap: 10px;
}

.top-creator .list-top-creator .top-creator1 p {
  color: #858584;
}

.top-creator .list-top-creator .top-creator1 span {
  color: var(--text-color);
  font-family: var(--mono);
}

@media screen and (max-width: 755px) {
  .top-creator .creator-header .right button {
    display: none;
  }
  .top-creator {
    padding-top: 100px;
  }
  .top-creator .creator-header .left h1 {
    text-align: center;
  }
  .top-creator .creator-header .left p {
    text-align: center;
  }
  .top-creator .creator-header .left {
    width: 100%;
  }
  .top-creator .creator-header .left p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 445px) {
  .top-creator .creator-header .left p {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.Browse-Categories {
  max-width: 1050px;
  margin: auto;
  padding-top: 160px;
  overflow: hidden;
}

.Browse-Categories > * {
  color: var(--text-color);
  font-family: var(--work);
}
.Browse-Categories .Browse-Categories-box {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Browse-Categories .Browse-Categories-box .category {
  display: flex;
  gap: 29px;
  flex-wrap: wrap;
}

.Browse-Categories .Browse-Categories-box .category .category-box1 {
  background-color: #3b3b3b;
  width: 240px;
  height: 316;
  border-radius: 25px;
}

.Browse-Categories .Browse-Categories-box .category .category-box1 h3 {
  padding-left: 10px;
  padding-bottom: 15px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  padding-top: 25px;
}

.Browse-Categories .Browse-Categories-box .category .category-box1 .hover {
  position: relative;
  overflow: hidden;
}

.Browse-Categories .Browse-Categories-box .category .category-box1 .hover:hover::before {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50px;
}

.Browse-Categories .Browse-Categories-box .category .category-box1 .hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  filter: blur(10px);
  top: 50%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, 150%);
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
}

.Browse-Categories .Browse-Categories-box .category .category-box1 .hover .hover-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  transition: transform 0.3s ease-in-out;
}

.Browse-Categories .Browse-Categories-box .category .category-box1 .hover:hover .hover-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1075px) {
  .Browse-Categories .Browse-Categories-box .category {
    justify-content: center;
    align-items: center;
  }
  .Browse-Categories .header-Browse-Categories h1 {
    text-align: center;
  }
}

.highlight {
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  background: url("/assets/Screen=Desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: relative;
}

.highlight {
  color: var(--text-color);
  font-family: var(--work);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.highlight::after {
  content: "";
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: gradient 4s infinite;
  transition: all .3s ease-in-out;
  position: absolute;
}

@keyframes gradient {
  0% {
    background: rgb(162, 89, 255);
    opacity: .1;
    background: linear-gradient(0deg, rgba(162, 89, 255, 1) 0%, transparent 40%, transparent 100%);
  }
  50% {
    background: rgb(162, 89, 255);
    opacity: 1;
    background: linear-gradient(0deg, rgba(162, 89, 255, 1) 0%, transparent 40%, transparent 100%);
  }
  100% {
    background: rgb(162, 89, 255);
    opacity: .1;
    background: linear-gradient(0deg, rgba(162, 89, 255, 1) 0%, transparent 40%, transparent 100%);
  }

}
 


.highlight .container-highlight {
  align-items: center;
  width: 70%;
  margin-bottom: 50px;
  display: grid;
  z-index: 1;
  grid-template-areas:
    "artist time"
    "buttonsee time";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  overflow: hidden;
}

.highlight .container-highlight .header-see .btn {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #ffffff;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  grid-area: buttonsee;
  z-index: -99;
  position: relative;
}

.highlight .container-highlight .header-see .btn p,
i {
  color: #2b2b2b;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.highlight .container-highlight .header-see .btn {
  grid-area: buttonsee;
  position: relative;
  overflow: hidden;
}

.highlight .container-highlight .header-see .btn::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--purple);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  transform-origin: center right;
  border-radius: 100%;
}

.highlight .container-highlight .header-see:hover .btn::before {
  width: 500px;
  height: 500px;
}

/* .highlight .container-highlight .header-see:hover .btn p , i {
  color: var(--text-color) !important;
} */

.highlight .container-highlight .header-highlight .artist-card img {
  width: 24px;
}

.highlight .container-highlight .header-highlight .artist-card {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #3b3b3b;
  width: 130px;
  justify-content: center;
  height: 40px;
  border-radius: 30px;
}

.highlight .container-highlight .header-highlight .side-left {
  grid-area: artist;
}

.highlight .container-highlight .header-highlight .side-left .artist-card h4 {
  font-size: 16px;
}

.highlight .container-highlight .time-highlight {
  margin-left: 280px;
  padding: 10px;
  position: relative;
  width: 250px;
  z-index: 99;
  grid-area: time;
}

.highlight .container-highlight .time-highlight::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3b3b3b;
  opacity: 0.8;
  z-index: -1;
  top: 0;
  left: 0;
  filter: blur(3px);
  border-radius: 10px;
}

.highlight .container-highlight .time-highlight .wrap-time {
  display: flex;
  gap: 20px;
}

.highlight .container-highlight .time-highlight .wrap-time .time {
  display: flex;
  flex-direction: column;
}

.highlight .container-highlight .time-highlight .wrap-time .time label {
  font-family: var(--mono);
}

.highlight .container-highlight .time-highlight .wrap-time .time h3 {
  font-size: 38px;
}

.highlight .container-highlight .header-highlight {
  font-size: 51px;
  font-weight: 600;
}

.fa-eye {
  padding-right: 10px;
}

@media screen and (max-width: 920px) {
  .highlight .container-highlight {
    grid-template-areas:
      "artist"
      "time"
      "buttonsee";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0px;
    place-items: center;
  }

  .highlight {
    align-items: center;
  }

  .highlight .container-highlight .header-highlight .side-left h1 {
    font-size: 38px;
  }
  .highlight .container-highlight .time-highlight {
    margin-left: 0px;
    width: 250px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.container-footer {
  width: 100%;
  background-color: #3b3b3b;
  height: 353px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer > * {
  font-family: var(--work);
}

.container-footer .wrapper-footer {
  max-width: 1049px;
  height: 191px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;


}

.container-footer .wrapper-footer .community {
  max-width: 327.41px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-footer .wrapper-footer .community p {
  color: #cccccc;
}

.container-footer .wrapper-footer .community .title-left {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-footer .wrapper-footer .community .title-left h2 {
  font-size: 22px;
  font-family: var(--mono);
}

.container-footer .wrapper-footer .explore {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 3px;
}

.container-footer .wrapper-footer .explore p {
  color: #cccccc;
}

.container-footer .wrapper-footer .explore h2 {
  color: var(--text-color);
  font-size: 22px;
  font-family: var(--mono);
}

.container-footer .wrapper-footer .promotions h2 {
  font-size: 22px;
  font-family: var(--mono);
  color: var(--text-color);
}

.container-footer .wrapper-footer .promotions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 420px;
  padding-top: 2px;
  
}

.container-footer .wrapper-footer .promotions p {
  color: #cccccc;
}

.container-footer .wrapper-footer .promotions .subs input {
  height: 60px;
  border-radius: 20px;
  padding-left: 10px;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.container-footer .wrapper-footer .promotions .subs button {
  height: 60px;
  border-radius: 20px;
  background-color: var(--purple);
  outline: none;
  border: none;
  width: 40%;
  font-family: var(--work);
  color: var(--text-color);
  margin-left: -30px;
}

@media screen and (max-width: 902px) {
  .container-footer .wrapper-footer {
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
  }
  .container-footer {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.wrapper-regis {
  display: flex;
  animation: scale1 1s forwards;
}


.wrapper-regis .regis-image {
  background: url("/assets/form/regis.png");
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-regis .container-form {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.wrapper-regis .container-form > *{
  color: var(--text-color);
  font-family: var(--work);
}

.wrapper-regis .container-form h1 {
  font-size: 51px;
  margin-left: 60px;
}

.wrapper-regis .container-form p {
  font-size: 22px;
  margin-left: 60px;
}

.wrapper-regis .container-form .regis-input {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  gap: 15px;
}

.wrapper-regis .container-form .regis-input .regis {
  width: 330px;
  height: 46px;
  position: relative;
}


.wrapper-regis .container-form .regis-input .regis i, .lock {
  position: absolute;
  top: 30%;
  left: 5%;
}

.wrapper-regis .container-form .regis-input .regis input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  transition:  all .2s ease-in-out;
}

.wrapper-regis .container-form .regis-input .regis input:focus {
  outline: red solid 3px;
}
.wrapper-regis .container-form .regis-input .regis input:focus.email-outline {
  outline: var(--purple) solid 3px;
}
.wrapper-regis .container-form .regis-input .regis #usernm:focus.email-outline {
  outline: var(--purple) solid 3px;
}
.wrapper-regis .container-form .regis-input .regis #eml:focus.email-outline {
  outline: var(--purple) solid 3px;
}
.wrapper-regis .container-form .regis-input .regis #password1:focus.requir {
  outline: var(--purple) solid 3px;
}
.wrapper-regis .container-form .regis-input .regis #password2:focus.requir {
  outline: var(--purple) solid 3px;
}

.wrapper-regis .container-form .regis-input .regis #password1:focus.ppp {
  outline: red solid 3px;
}
.wrapper-regis .container-form .regis-input .regis #password2:focus.ppp2 {
  outline: red solid 3px;
}

.wrapper-regis .container-form .regis-input .user i {
  color: #858584;
}

.wrapper-regis .container-form .regis-input .email i {
  color: #858584;
}
.wrapper-regis .container-form .regis-input .pass i {
  color: #858584;
}

.wrapper-regis .container-form .regis-input #tooltip {
  color: #fff;
  background-color: #3b3b3b;
  position: absolute;
  top: 60%;
  left: 60%;
  width: 250px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  text-align: center;
}
.wrapper-regis .container-form .regis-input #tooltip2 {
  color: #fff;
  background-color: #3b3b3b;
  position: absolute;
  top: 68%;
  left: 60%;
  width: 250px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  text-align: center;
}


.wrapper-regis .container-form .regis-input .pass .lock {
  color: #858584;
  width: 20px;
}
.wrapper-regis .container-form .regis-input .con-pass i {
  color: #858584;
  width: 20px;
}

.wrapper-regis .container-form .regis-input .check {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}

.wrapper-regis .container-form .regis-input .check label {
  font-size: 13px;
}

.wrapper-regis .container-form .regis-input .signup-btn button {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  transition:  all .2s ease-in-out;
  font-size: 22px;
  font-family:var(--work);
  background-color: var(--purple);
  color: var(--text-color);
}

.wrapper-regis .container-form .regis-input .signup-btn button:hover {
  opacity: .7;
}

.wrapper-regis .container-form .regis-input .signup-btn {
  width: 330px;
  height: 46px;
  position: relative;
}

@media (width <= 971px) {
  .wrapper-regis .container-form .regis-input #tooltip {
    left: 30%;
    top: 114%;
  }
  .wrapper-regis .container-form .regis-input #tooltip2 {
    left: 30%;
    top: 123%;
  }

  .wrapper-regis {
    display: flex;
    flex-direction: column;
  }
  .wrapper-regis .regis-image {
    background: url("/assets/form/regis.png");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .wrapper-regis .container-form {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
  .wrapper-regis .container-form h1 {
    font-size: 38px;
    margin-left: 0;
  }
  
  .wrapper-regis .container-form p {
    font-size: 16px;
    margin-left: 0;
  }
  .wrapper-regis .container-form .regis-input {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    gap: 15px;
  }
}

#nav-mobile {
  z-index: 99999;
}

#nav {
  z-index: 999999;
}

.loader-regis {
  position: absolute;
  width: 2000px;
  height: 2000px;
  background-color: var(--purple);
  z-index: 9999999;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}