<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rangkings</title>
    <link rel="stylesheet" href="/css/rangkings.css" />
  </head>
  <body>
    <!-- header -->

    <header>
      <div class="wrapper-header">
        <h1>Top Creators</h1>
        <p>Check out top ranking NFT artists on the NFT Marketplace.</p>
      </div>
      <nav>
        <ul>
          <li class="hidde1">Today</li>
          <li class="hidde1">This Week</li>
          <li class="hidde1">This Month</li>
          <li class="hidde1">All Time</li>
          <li class="hidden">1d</li>
          <li class="hidden">7d</li>
          <li class="hidden">30d</li>
          <li class="hidden">All Time</li>
        </ul>
      </nav>
    </header>

    <!-- header -->
    

    <!-- list rangking -->

    <div class="container-rangkings">
      <div class="field">
        <div class="field-left">
          <h1>#</h1>
          <h5>Artist</h5>
        </div>
        <div class="field-right">
          <h5 >Change</h5>
          <h5 class="nft-sold">NFTs Sold</h5>
          <h5>Volume</h5>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>1</h5>
            <img src="/assets/top-creator/creator-1.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>2</h5>
            <img src="/assets/top-creator/creator-2.png" alt="" />
            <h4>Ruben Carder</h4>
          </div>
          <div class="record-right">
            <h5>+1.32%</h5>
            <h5 class="total-nft">582</h5>
            <h5>12.2 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>3</h5>
            <img src="/assets/top-creator/creator-3.png" alt="" />
            <h4>Alfredo Septimus</h4>
          </div>
          <div class="record-right">
            <h5>+1.31%</h5>
            <h5 class="total-nft">580</h5>
            <h5>12.1 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>4</h5>
            <img src="/assets/top-creator/creator-4.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>5</h5>
            <img src="/assets/top-creator/creator-5.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>6</h5>
            <img src="/assets/top-creator/creator-6.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>7</h5>
            <img src="/assets/top-creator/creator-7.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>8</h5>
            <img src="/assets/top-creator/creator-8.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>9</h5>
            <img src="/assets/top-creator/creator-9.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>10</h5>
            <img src="/assets/top-creator/creator-10.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>11</h5>
            <img src="/assets/top-creator/creator-11.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft" >602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
      <div class="rangkings-list">
        <div class="top-1">
          <div class="record-left">
            <h5>12</h5>
            <img src="/assets/top-creator/creator-12.png" alt="" />
            <h4>Hisban Pahri</h4>
          </div>
          <div class="record-right">
            <h5>+1.41%</h5>
            <h5 class="total-nft">602</h5>
            <h5>12.4 ETH</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- list rangking -->



  </body>
</html>
